
<div style="display:flex; margin-top:100px;">
    <div style="margin:0 0;">

        <img src="~/Images/pexels-rodolfo-clix-922610.jpg" width="980px" height="600px">

    </div>
    <div class="second-side">
        <div class="WelcomeTitle">
            <h1>ALL EYES ON NEW</h1>
            <p>Get your favorites styles for even less.</p>
        </div>
        <div class="button-div">
            <a class="button-a" asp-area="" asp-route-GenSep="1" asp-controller="Clothes" asp-action="Index">Men's Clothing</a>
        </div>
    </div>
  
</div>
<div style="display:flex; margin-top:200px;">
      <div class="second-side">
        <div class="WelcomeTitle">
            <h1>ALL EYES ON NEW</h1>
            <p>Get your favorites styles for even less.</p>
        </div>
        <div class="button-div" style="width:200px;">
          <a class="button-a" asp-area="" asp-route-GenSep="2" asp-controller="Clothes" asp-action="Index">Women's Clothing</a>
        </div>
    </div>
    <div style="margin:0 0;">

        <img src="~/Images/pexels-rodolfo-clix-922610.jpg" width="980px" height="600px">

    </div>
  

</div>
